<h2> Player 1: <%= @player_1_name %> </h2>
<p>  <%= @player_1_name %> HP: 100 </p>
<form action='/p1_attacks'>
  <input type="submit" value="p1_attacks"> 
</form>

<h2> Player 2: <%= @player_2_name %> </h2>
<p> <%= @player_2_name %> HP: 100 </p>
<form action='/p2_attacks'>
  <input type="submit" value="p2_attacks"> 
</form>